@use '@styles/abstracts/mixins' as *;
@use '@styles/abstracts/functions' as *;

.lang-selector {
  position: relative;
  width: 100%;
  gap: rem(12px);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .selected {
    transition: 0.2s;
    color: var(--clr-white);

    path {
      fill: var(--clr-white);
      stroke: var(--clr-white);
    }
  }

  .dropdown {
    display: flex;
    padding-top: rem(16px);
    top: 0;
  }

  @include respond-to('large') {
    div {
      gap: rem(8px);
    }

    .dropdown {
      position: absolute;
      top: inherit;
      width: inherit;

      a {
        cursor: pointer;
      }
    }
  }
}
