/// Responsive breakpoint manager
/// @link https://sass-guidelin.es/#responsive-web-design-and-breakpoints
$breakpoints: (
  'medium': (
    min-width: 700px,
  ),
  'large': (
    min-width: 1200px,
  ),
  'huge': (
    min-width: 1800px,
  ),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
