@use './functions' as *;
@use './mixins' as *;

:root {
  // Font families
  --ff-heading: 'Plus Jakarta Sans', 'sans-serif';
  --ff-regular: 'Roboto', sans-serif;
  --ff-monospace: 'Ubuntu Mono', monospace;

  // Font sizes
  --fs-regular: #{rem(16px)};
  --fs-h1: #{rem(35px)};
  --fs-h2: #{rem(28px)};
  --fs-h3: #{rem(20px)};

  // Colors
  --clr-bg: hsl(225, 10, 8);
  --clr-bg-light: hsl(225, 7, 11);
  --clr-bg-lightest: hsl(225, 7, 13);
  --clr-gray: hsl(240, 1, 45);
  --clr-gray-light: hsl(220, 1, 48);
  --clr-gray-lightest: hsl(0, 0, 82);
  --clr-white: hsl(0, 0, 100);

  @include respond-to(large) {
    --fs-h1: #{rem(50px)};
    --fs-h2: #{rem(36px)};
    --fs-h3: #{rem(24px)};
  }
}
