@use './functions' as *;
@use './mixins' as *;

:root {
  // Font families
  --ff-heading: 'Plus Jakarta Sans', 'sans-serif';
  --ff-regular: 'Roboto', sans-serif;
  --ff-monospace: 'Ubuntu Mono', monospace;

  // Font sizes
  --fs-regular: #{rem(16px)};
  --fs-h1: #{rem(35px)};
  --fs-h2: #{rem(28px)};
  --fs-h3: #{rem(20px)};

  // Colors
  --clr-bg: #121316;
  --clr-bg-light: #191a1d;
  --clr-bg-lightest: #202124;
  --clr-gray: #717173;
  --clr-gray-light: #797a7c;
  --clr-gray-lightest: #d0d0d0;
  --clr-white: #ffffff;
  --clr-blue: #547aff;

  @include respond-to(large) {
    --fs-regular: #{rem(22px)};
    --fs-h1: #{rem(68px)};
    --fs-h2: #{rem(36px)};
    --fs-h3: #{rem(24px)};
  }
}
