:root {
  // Font Families
  --ff-heading: 'Plus Jakarta Sans', 'sans-serif';
  --ff-regular: 'Roboto', sans-serif;
  --ff-monospace: 'Ubuntu Mono', monospace;

  // Colors
  // TODO: convert to HSL
  --clr-bg: #121316;
  --clr-bg-light: #191a1D;
  --clr-bg-lightest: #202124;
  --clr-gray: #717173;
  --clr-gray-light: #797a7C;
  --clr-gray-lightest: #d0d0d0;
  --clr-white: #ffffff;
}
