@use '@styles/abstracts/mixins' as *;
@use '@styles/abstracts/functions' as *;

.header {
  display: flex;
  align-items: center;
  height: rem(80px);

  .logo {
    width: rem(36px);

    svg {
      fill: var(--clr-white);
    }
  }

  @include respond-to('large') {
    height: rem(90px);

    .logo {
      width: rem(58px);
    }
  }
}

.nav {
  display: none;
  margin-left: auto;
  align-items: center;
  gap: rem(40px);

  a:hover {
    color: var(--clr-white);
    transition: 0.2s;
  }

  @include respond-to('large') {
    display: flex;
  }
}
